
.fieldsetPaiClass {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    border-radius: 30px;
    margin: 20px;
    border-width: 8px;
    border-style: solid;
    border-color: saddlebrown;
    background: rgb(34, 193, 195);
    background: linear-gradient(
      0deg,
      rgba(34, 193, 195, 1) 0%,
      rgba(253, 138, 45, 0.3258345574557948) 100%
    );
  }

  legend {
    color: black;
  }
  .inputClass {
    border: none;
    border-bottom: 1px solid black;
  }
  .labelClass {
    padding: 15px;
  }
  .pClass {
    margin-left: 5px;
  }
  .textareaClass {
    width: 25%;
    height: 75px;
  }
  .buttonClass {
    box-shadow: inset 0px -1px 0px 0px #a6827e;
    background-color: saddlebrown;
    border-radius: 8px;
    border: 2px solid #54381e;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 16px;
    padding: 9px 19px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #4d3534;
    margin: 15px;
  }
  .buttonClass:hover {
    background-color: aqua;
  }